@model COMP003B.FinalProject.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<div class="col-md-4">
    <h4>Exercises</h4>
    <ul>
        @foreach (Exercise exercise in ViewBag.Exercises)
        {
            <li>@exercise.Name</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExerciseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
